{% extends 'accounts/base.html' %}

{% block title %}
	Edit Profile | {{user.first_name}} {{user.last_name}}
{% endblock %}


{% block content %}
	<form method="POST" enctype="multipart/form-data" class="edit_profile_form">
		{% csrf_token %}
		{{form.as_p}}
		<div class="profile_form">
			{{profile.as_p}}
		</div>

		<p class="current_profile">
			<label>Current Image: </label>
			<img src="{{user.profile.profile_image.url}}" width="200" height="200">
		</p>
		<button>Save Changes </button>
	</form>
{% endblock %}